################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/A3/.vs
/.vs
/A3/out/build/x64-Debug
/A3/build
A3/.vscode/c_cpp_properties.json
